{{!< default}}

{{#foreach posts}}
<div class="article {{post_class}}">
	<h4><a href="{{url}}">{{{title}}}</a></h4>
	<div class="article-metadata">
		<p class="date">{{date format="DD MMMM YYYY"}}</p>
		<p class="tags">{{tags prefix=" on "}}</p>
	</div>
	<p>{{excerpt words="50"}}...</p>
</div>
{{/foreach}}

{{pagination}}
